/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --color-background: oklch(0.21 0.03 256.8);
  --color-surface: oklch(0.3791 0.1378 265.52);
  --color-text: oklch(0.7721 0.119 297.96);
  --color-muted:  oklch(0.9288 0.0126 255.51);
  --color-border: oklch(0.922 0.014 255.3);
  --color-accent: oklch(0.21 0.03 256.8);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen font-sans antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }

  ::selection {
    @apply text-slate-400;
  }
}